.lead__image-box {
  margin: 0;
  padding-top: 40px;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (min-width:1024px) {
  .lead__image-box {
    padding: 56px 48px 0;
  }
}

@media screen and (min-width: 1280px) {
  .lead__image-box {
    padding: 64px 148px 0;
  }
}